html,
body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  overflow-x: hidden;
}

canvas {
  display: block;
  margin: 16px auto;
  width: 480px;
  height: 270px;
  image-rendering: pixelated;
}

@media (min-width: 900px) {
  canvas {
    width: 960px;
    height: 540px;
  }
}

@media (min-width: 1400px) {
  canvas {
    width: 1440px;
    height: 810px;
  }
}
